/Ejercicios Fundamentales/Libro/nbproject/private/
/Ejercicios Fundamentales/JpaPrueba/nbproject/private/
/Ejercicios Fundamentales/Libreriaej1/nbproject/private/
/Ejercicios Fundamentales/Libreriaej1/build/
/Ejercicios Fundamentales/Libreriaej1/dist/
/Ejercicios Fundamentales/RepasoCon Pablito/nbproject/private/
/Ejercicios Fundamentales/RepasoCon Pablito/build/
/Ejercicios Fundamentales/RepasoCon Pablito/dist/